.DS_Store
node_modules
/dist
thilla-wigs-firebase-adminsdk-i7sve-057422fdfb.json
images
.firebase
.firebaserc
firestore.indexes.json
firebase.json
AxiosManeger.ts

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#fix gitignore
# 1.  git rm -r --cached .
# 2. git status
# 3. git add .
# 4. git commit -m "fixed untracked files"
